.OptionsState {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.OptionsState_options {
    color: wheat;
    font-size: 24px;
}

.OptionsState_options ol button {
    width: 40%;
    margin: auto;
    padding: 12px;
    text-align: center;
    margin-top: 8px;
    font-size: 24px;
}