.ResultsState {
    padding-top: 48px;
    color: thistle;
    padding-bottom: 50px;
}

.ResultsState div {
    margin: auto;
    font-size: 64px;
}

.ResultsState p {
    font-size: 24px;
    padding: 24px;
    padding-top: 0px;
}

.ResultsState_header {
    color: wheat;
    margin: 0;
}